uvicorn
fastapi
sqlalchemy
pydantic
starlette
google-genai
python-dotenv
torch
openai
elevenlabs
pyserial
langchain
langchain-core
chromadb
langgraph
langchain-community
langchain-text-splitters
langchain-deepseek
sentence-transformers
langchain-ollama
pypdf
pywhatkit
yagmail
python-telegram-bot
pygame
requests
mail-parser
imaplib2
openai-whisper